{
    "swagger": "2.0",
    "info": {
        "title": "StarterKit API",
        "description": "Demonstra\u00e7\u00e3o da documenta\u00e7\u00e3o da api gerada utilizando swagger com php",
        "contact": {
            "email": "lfalmeida@me.com"
        },
        "version": "1.0.0"
    },
    "host": "api.starterkit.app",
    "basePath": "/v1",
    "schemes": [
        "http"
    ],
    "paths": {
        "/users": {
            "get": {
                "tags": [
                    "Users"
                ],
                "summary": "Listar usu\u00e1rios",
                "description": "Retorna uma lista de usu\u00e1rios com pagina\u00e7\u00e3o",
                "operationId": "listUsers",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "default": {
                        "description": "successful operation"
                    }
                }
            },
            "post": {
                "tags": [
                    "Users"
                ],
                "summary": "Criar usu\u00e1rio",
                "description": "Cria um registro de usu\u00e1rio.",
                "operationId": "createUser",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "User",
                        "in": "body",
                        "description": "Objeto usu\u00e1rio que ser\u00e1 salvo",
                        "schema": {
                            "$ref": "#/definitions/User"
                        },
                        "type": "object"
                    }
                ],
                "responses": {
                    "default": {
                        "description": "successful operation"
                    }
                }
            }
        },
        "/users/{id}": {
            "get": {
                "tags": [
                    "Users"
                ],
                "summary": "Obter um usu\u00e1rio",
                "description": "Retorna um usu\u00e1rio a pertir do id informado",
                "operationId": "getUser",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "id do usu\u00e1rio para consulta",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "default": {
                        "description": "successful operation"
                    }
                }
            },
            "put": {
                "tags": [
                    "Users"
                ],
                "summary": "Atualizar usu\u00e1rio",
                "description": "Atualiza o registro de um usu\u00e1rio.",
                "operationId": "updateUser",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "id do usu\u00e1rio",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "name": "User",
                        "in": "body",
                        "description": "Objeto usu\u00e1rio que ser\u00e1 salvo",
                        "schema": {
                            "$ref": "#/definitions/User"
                        },
                        "type": "object"
                    }
                ],
                "responses": {
                    "default": {
                        "description": "successful operation"
                    }
                }
            }
        },
        "/zipcode/{cep}": {
            "get": {
                "tags": [
                    "ZipCode"
                ],
                "summary": "Informa\u00e7\u00f5es sobre CEP",
                "description": "Retorna informa\u00e7\u00f5es para o cep fornecido",
                "operationId": "zipcodeData",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "cep",
                        "in": "path",
                        "description": "CEP para consulta",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "default": {
                        "description": "successful operation"
                    }
                }
            }
        }
    },
    "definitions": {
        "User": {
            "required": [
                "email",
                "name"
            ],
            "properties": {
                "email": {
                    "type": "string"
                },
                "password": {
                    "type": "string"
                },
                "name": {
                    "type": "string"
                }
            },
            "type": "object"
        }
    },
    "securityDefinitions": {
        "token": {
            "type": "apiKey",
            "name": "token",
            "in": "header"
        }
    },
    "tags": [
        {
            "name": "Users",
            "description": "Opera\u00e7\u00f5es relacionadas aos usu\u00e1rios"
        },
        {
            "name": "ZipCode",
            "description": "Consultas de cep"
        }
    ]
}