<div class="row">
    <div class="col-sm-9">
        <div><img src="#" alt="" id="c-image" class="img-responsive" style="max-height: 350px;"></div>
    </div>
    <div class="col-sm-3">
        <div class="preview"></div>
        <div class="text-center">
            <small>Pré Visualização</small>
        </div>
        <hr>
        <div class="crop-tools text-center">
            <div class="btn-group">
                <button type="button" class="btn btn-default" data-method="zoom" data-option="0.1" title="Mais Zoom">
                    <span class="docs-tooltip" data-toggle="tooltip" title="" data-original-title="Aumentar Zoom">
                        <span class="fa fa-search-plus"></span>
                    </span>
                </button>
                <button type="button" class="btn btn-default" data-method="zoom" data-option="-0.1" title="Menos Zoom">
                    <span class="docs-tooltip" data-toggle="tooltip" title="" data-original-title="Diminuir Zoom">
                        <span class="fa fa-search-minus"></span>
                    </span>
                </button>
            </div>
            <div class="btn-group">
                <button type="button" class="btn btn-default" data-method="rotate" data-option="-90"
                        title="Rotate Left">
                    <span class="docs-tooltip" data-toggle="tooltip" title="" data-original-title="Girar para esquerda">
                        <span class="fa fa-rotate-left"></span>
                    </span>
                </button>
                <button type="button" class="btn btn-default" data-method="rotate" data-option="90"
                        title="Rotate Right">
                    <span class="docs-tooltip" data-toggle="tooltip" title="" data-original-title="Girar para direita">
                        <span class="fa fa-rotate-right"></span>
                    </span>
                </button>
            </div>
        </div>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-xs-6"><a href="javascript:void(0)" id="doneEditing" class="btn btn-primary"> <i
            class="fa fa-scissors"></i> Cortar </a></div>
    <div class="col-xs-6 text-right"><a href="javascript:void(0)" class="dismiss btn btn-danger">Cancelar</a></div>
</div>